/*BLANK STYLE 
* Extension sets all styling initially to blank. This prevents
* flickering, i.e. users seeing the default style first.*/

/* SEARCH PAGE (START)*/
/*Highlight grid style*/
.a-badge {
    display: none !important;
}

/*Highlight list style*/
.a-badge-region {
    display: none !important;
}

/*"Spare x%" below product price*/
span[data-component-type="s-coupon-component"] {
    display: none !important;
}

/*Prime (Lieferung) Logo an Artikel*/
.a-icon-prime {
    display: none !important;
}

/*"Gesponsort" above product*/
.puis-sponsored-label-text {
    display: none !important;
}

/* SEARCH PAGE (END)*/

/*PRODUCT DETAILS PAGE (START)*/
/*"Amazons Tipp" below star rating*/
#acBadge_feature_div {
    display: none !important;
}

/*"Bestseller" below star rating*/
#zeitgeistBadge_feature_div {
    display: none !important;
}