/*Default Amazon style*/


/*Highlight Griddarstellung*/
.a-badge {
    display: inline-block !important;
}

/*Highlight Spaltendarstellung*/
.a-badge-region {
    display: inline-block !important;
}

/*"Spare x%" unter Artikelpreis*/
span[data-component-type="s-coupon-component"] {
    display: inline-block !important;
}

/*Prime (Lieferung) Logo an Artikel*/
/* .aok-inline-block {
    display: none !important;
} */

.a-icon-prime {
    display: inline-block !important;
}

/*"Gesponsort" über Artikelname*/
.puis-sponsored-label-text {
    display: inline-block !important;
}