/*Default Amazon style*/

/* SEARCH PAGE (START)*/
/*Highlight grid style*/
.a-badge {
    display: inline-block !important;
}

/*Highlight list style*/
.a-badge-region {
    display: inline-block !important;
}

/*"Save x%" below product price*/
span[data-component-type="s-coupon-component"] {
    display: inline-block !important;
}

/*Prime (Delivery) Icon at product*/
.a-icon-prime {
    display: inline-block !important;
}

/*"Sponsored (i)" above product*/
.puis-sponsored-label-text {
    display: inline-block !important;
}

/*Delivery info*/
div.a-row.a-size-base.a-color-secondary.s-align-children-center {
    display: block !important;
}

/*"Only x left"*/
div.a-row.a-size-base.a-color-secondary {
    display: block !important;
}

/* SEARCH PAGE (END)*/

/*PRODUCT DETAILS PAGE (START)*/
/*"Amazon's Choice" below star rating*/
#acBadge_feature_div {
    display: block !important;
}

/*"Bestseller" below star rating*/
#zeitgeistBadge_feature_div {
    display: block !important;
}