/*Badge1, Highlight (Best Seller, Amazon's Choice)*/
span.rush-component [data-component-type='s-status-badge-component'] {
    display: block;
}

/*Badge2 & 3, Save X%, Limited Time Deal*/
span[data-a-badge-color='sx-lightning-deal-red'] {
    display: block;
}

/*Badge6, "Sponsored (i)" above product*/
.puis-sponsored-label-text {
    display: block;
}

/*OTHER STUFF*/
/*Top banner ad*/
div._bGlmZ_container_GMk6b.sbx-desktop {
    display: block !important;
}

/*Other disturbing carousels*/
[data-asin=""] {
    display: block !important;
}